@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
:root {
  --primary: #eb5e28;
  --black: #181616;
  --grey: #727272;
}
.section-container {
  text-align: center;
  margin: 5rem 10rem;
}
.main-logo {
  width: 10%;
  object-fit: cover;
}
.section-heading {
  text-align: center;
  font-size: 6rem;
  line-height: 6rem;
  color: var(--black);
}
.section-heading span {
  color: var(--primary);
}
.container {
  display: flex;
  align-items: center;
  margin: 5rem 10rem;
  padding: 2rem;
  border-radius: 1.5rem;
  border: 1px solid lightgray;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.container:nth-child(3) {
  flex-direction: row-reverse;
}
.content-left {
  width: 48%;
  display: grid;
}
.content-left img {
  width: 100%;
}
.content-right {
  width: 48%;
}
.heading {
  color: var(--black);
  font-family: 'Oleo Script', cursive;

  font-size: 2.5rem;
  line-height: 2.5rem;
}
.description {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem 0;
  color: var(--grey);
}
input {
  font-size: 1rem;
  margin: 0 1rem 1rem 0;
  padding: 0.8rem 0.8rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  width: 50%;
}
input:focus {
  outline: none;
  border: 1px solid var(--primary);
}
.input-fields {
  width: 100%;
  display: flex;
}
.result {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.8rem 0.8rem;
  background-color: #bdece7;
  border-radius: 0.5rem;
  width: fit-content;
  height: 2.5em;
  align-items: center;
  color: #264653;
}
.result-text {
  font-size: 1.5rem;
  font-weight: 700;
}
.primary-btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  color: white;
  width: fit-content;
}
.primary-btn:hover {
  background-color: #da5622;
  border: 1px solid #da5622;
  cursor: pointer;
}
.secondary-btn {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 1rem;
  padding: 0.8rem 1.6rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  color: var(--primary);
}
.secondary-btn:hover {
  border: 1px solid var(--primary);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    margin: 2rem 5rem;
  }
  .content-left {
    width: 100%;
  }
  .content-left img {
    width: 100%;
  }
  .content-right {
    width: 100%;
  }
}
